@model Clasificados.Models.UserRecoverPasswordModel

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
<h3 style="text-align: center">Recuperar Contraseña</h3>
<div class="container">
    @Html.Partial("_Notifications")
    <form role="form" method="POST">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="row">
                <input type="email" class="form-control" name="Correo" id="Correo" style="margin-left: 450px" placeholder="Correo Electrónico">
            </div>
            <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Correo)</div>
        </div>
        <button type="submit" class="btn btn-sm" style="margin-left: 435px;border: 2px solid black;width:280px;background: transparent">Recuperar Contraseña</button>
    </form>
    <div class="row">
        <div>
            <p style="margin-left:310px">
                <a href="@Url.Action("Login","Account")">Regresar a Login</a>
            </p>
        </div>
    </div>
</div>

