@model Clasificados.Models.UserRegisterModel

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
<div class="container">
   @Html.Partial("_Notifications")
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <h3 style="text-align: center">Registrarse o <a href="@Url.Action("Login","Account")">Login</a></h3>
            <div class="panel panel-default">  
                <div class="panel-body">
                    <form role="form" method="POST">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <input type="text" name="Nombre" id="Nombre" class="form-control input-sm" style="margin-left: 20px"placeholder="Nombre">                       
                        </div>
                        <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Nombre)</div>
            
                        <div class="form-group">
                            <input type="email" name="Correo" id="Correo" class="form-control input-sm" style="margin-left: 20px"placeholder="Correo Electrónico">
                        </div>
                        <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Correo)</div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="Password" id="Password" class="form-control input-sm" placeholder="Password">
                                </div>
                                <div style="text-align: center">@Html.ValidationMessageFor(x => x.Password)</div>
                            </div>
                           
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control input-sm" placeholder="Confirmar Password">
                                </div>
                            </div>
                            <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.ConfirmPassword)</div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                    <label>Tipo de Usuario:</label>
                                    @Html.DropDownListFor(x => x.Miembro, new SelectList(
                                        new List<object>
                                        {
                                            new {value=false,text="Free User"},
                                            new {value=true,text="Member User"},
                                        }, "value", "text", 2))
                                <p>Si usted escoge <strong>Member User</strong> esta de acuerdo con los <strong style="background-color: chartreuse">Terminos y Condiciones</strong> y con pagar <strong>$5</strong>Mensuales</p>
                            </div>
                        </div>


                            <input type="submit" value="Register" class="btn btn-block " style=" margin-left: 20px;background: white;text-align: center;border:1px solid black">

</form>
                </div>
            </div>
        </div>
    </div>
</div>