@model Clasificados.Models.SimpleSearchModel
<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Frecuentes</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <h2 style="text-align: center">Busqueda Simple</h2>

        @Html.Partial("_Notifications")

        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var clasificados in Model.Clasificados)
                        {
                            <tr>
                                <td>@Html.ActionLink(clasificados.Titulo, "DetalleCategory", "Options", new { @id = @clasificados.Id }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                </div>
            </div>    
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>

