@using BotDetect.Web.UI
@using BotDetect.Web.UI.Mvc
@using CaptchaMvc.HtmlHelpers
@model Clasificados.Models.ContactModel


<!DOCTYPE html>
<html>
    
    <head>
        
        <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"rel="stylesheet" type="text/css" />

        <title>Contact</title>
     
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="http://maps.googleapis.com/maps/api/js?
                key=AIzaSyBsHwFd2p_uH3qh80fl4kXJL6HFREqulnU=true">
        </script>
        <script>
            function initialize() {
                var mapProp = {
                    center: new window.google.maps.LatLng(15.532856, -88.028065),
                    zoom: 15,
                    mapTypeId: window.google.maps.MapTypeId.ROADMAP
                };
                var map = new window.google.maps.Map(document.getElementById("googleMap")
                    , mapProp);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(15.532856, -88.028065),
                    map: map,
                    title: 'MSLC!'
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>

    <body>
        <div id="googleMap" style="width:1100px;height:380px;margin-top: 10px" ></div>
        <p style="text-align: center;font-size: medium">
            En nuestra pagina ustedes podran subir clasificados de los articulos que ustedes quieran vender
            segun y como esta estipulado en nuestros terminos y condiciones. Asi que pueden registrarse e ingresar a 
            nuestra pagina para comenzar su vida como comerciantes. Espero que disfruten y logren encontrar lo que desean.
        </p>
        <address style="text-align: center">
            <strong>Clasificados S.A.<br /></strong>
            Honduras<br />
            San Pedro Sula<br /><br />
            <strong>Teléfono:</strong>31918027
        </address>

        <address style="text-align: center">
            <strong>Correo Electrónico:</strong>   <a href="mailto:mejia561@hotmail.com">mejia561@hotmail.com</a>
        </address>
        
        <div class="container">
            @Html.Partial("_Notifications")

            <div class="row">
                <form role="form" method="POST">
                    @Html.ValidationSummary(true)
                    <h3 class="text-center">Contactanos</h3>

                    <div class="form-group">
                        <div style="margin-left: 450px">
                            <input id="name" name="Nombre" type="text" placeholder="Nombre" class="form-control">
                        </div>
                        <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Nombre)</div>
                    </div>

                    <div class="form-group">
                        <div style="margin-left: 450px">
                            <input id="email" name="Correo" type="email" placeholder="Correo Electrónico" class="form-control">
                        </div>
                        <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Correo)</div>
                    </div>

                    <div class="form-group">
                        <div style="margin-left: 450px">
                            <textarea class="form-control" id="message" name="Mensaje" placeholder="Ingrese su mensaje aqui..." rows="5"></textarea>
                        </div>
                        <div style="text-align: center;margin-left: 150px">@Html.ValidationMessageFor(x => x.Mensaje)</div>
                    </div>
                    
                    

                    <div class="form-group" style="margin-left: 450px">
                        @{
                            var captcha = Html.Captcha("Refresh", "Input", 5, "Is required field.", false);

                        }
                        @captcha
                        <p style="color:red">
                            @Html.ValidationMessage(captcha.BuildInfo.InputElementId, new { @style = "width:50px" })
                        </p> 
                    </div>
                    

                    <div class="form-group">
                        <div style="margin-left: 450px">
                            <button type="submit" class="btn btn-lg" style="background: transparent;border: 1px solid black">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
